/* styly.css Babynamen - Finale Version- Written by - Markus Bolliger - Daniel Da Silva - ZHAW 2019 */ 
/* Main/Center V-Box Section */	
#vboxCss {
		-fx-spacing: 5; 
		-fx-padding: 7 7 7 7;
		-fx-border-style: solid inside;
		-fx-border-width: 2;
		-fx-border-insets: 5;
		-fx-border-radius: 5;
		-fx-border-color: blue;
		-fx-scene-margin: 5;
}
#logInvboxcss {
		-fx-spacing: 5; 
		-fx-padding: 7 7 7 7;
		-fx-border-style: solid inside;
		-fx-border-width: 2;
		-fx-border-insets: 5;
		-fx-border-radius: 5;
		-fx-border-color: blue;
		-fx-scene-margin: 5;
}
/*Gender Choose Section */
#genderchoostextcss {	
    -fx-font-size: 1.3em;
    -fx-font-familiy: Arial; 
    -fx-padding: 15 7 0 7;
 }
#buttonboyCss{
    -fx-text-fill: #4169e1;
    -fx-font-size: 1.9em;
    -fx-background-radius: 5;
    -fx-background-radius: 5;
}
#buttonGirlCss{
    -fx-text-fill: #c10000;
    -fx-font-size: 1.9em;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
/* RadioButtonHandler Section: */
#namechoosetextCSS{
    -fx-font-size: 1.3em;
    -fx-font-familiy: Arial; 
	-fx-padding: 15 7 -3 7;
}
#rbTop200chCss{
    -fx-font-size: 1.7em;
    -fx-border-width: 13px;  
	-fx-padding: 1 7 0 7; 
}
#rbrbTop100ChCss{
    -fx-font-size: 1.7em;
    -fx-border-width: 13px;  
	-fx-padding: 0 7 0 7; 
}
#rbrbTop100WwCss{
    -fx-font-size: 1.7em;
    -fx-border-width: 13px;  
	-fx-padding: 0 7 0 7;
}
#rbrbTopBiblCss{
    -fx-font-size: 1.7em;
    -fx-border-width: 13px;  
	-fx-padding: 0 7 0 7; 
}
/* Letter Proposal Section: */ 
#labelProposalCss{
    -fx-font-size: 1.3em;
	-fx-padding: 3.50 0 4 0; 
}
/* Search Button Section: Position via Padding*/ 
#searchButtonsCSS{
    -fx-font-size: 1.1em;
	-fx-padding: 0 4 4 4; 
}
/*Adding Section: */ 
#vBoxAddingSectionCss {
   -fx-padding: 7 0 107 0;    
}
#AddingNamecss {
   -fx-font-size: 1.8em;
   -fx-padding: 7 0 7 0;     
}
#addButtonCss {
   -fx-font-size: 1.1em;  
}
#removeButtonCss {
   -fx-font-size: 1.1em;    
}
#logOutButtonCss {
   -fx-font-size: 1.1em;   
}
/*Login Section: */ 
#logInButtonCss {
    -fx-font-size: 1.1em;
    -fx-font-family: Arial;
	-fx-padding: 7 7 7 7;     
}
/* Remove Section */
#RemoveSectionCss {
   -fx-font-size: 1.1em;
   -fx-padding: -2 7 7 7; 
}
#removeButtonCss {
   -fx-font-size: 1.1em;   
}
/*Bottom Section: */ 
#bottomTextcss {
    -fx-font-size: 1em;
    -fx-font-family: Arial;
    -fx-text-alignment: center;    
    -fx-padding: 0 0 0 0;  
}
/*TableView: */
#tableBoxcss{
    -fx-padding: 0 0 0 0;
    -fx-pref-width: 595; 
    -fx-pref-height: 250;  	
}
.table-view .column-header .label{
    -fx-alignment:center-left;
}